body {
  font-family: 'Arial', sans-serif;
  background-color: #cfcfcf;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #c07504;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

h2 {
  color: #be802e;
  margin-top: 2rem;
  font-size: 1.75rem;
}

p {
  background: #b4a588;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

button {
  display: block;
  margin: 2rem auto;
  padding: 0.75rem 1.5rem;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  cursor: pointer;
}

button:hover {
  background-color: #c49600;
}

footer {
  text-align: center;
  padding: 1.5rem;
  background-color: #c07504;
}

.button-link {
  display: inline-block;
  margin: 2rem auto;
  padding: 0.75rem 1.5rem;
  background-color: #ff8e0d;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.button-link:hover {
  background-color: #dad600;
}

.food-photo {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  margin: 1rem auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

main {
  padding: 1rem;
  max-width: 700px;
  margin: 0 auto;
}

section.menu {
  text-align: center;
}

section.menu h2 a {
  text-decoration: none;
  color: #ff0000;
}

section.menu h2 a:hover {
  text-decoration: underline;
}

#cooking-timer {
  text-align: center;
  background-color: #ffe3bb;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 8px;
  width: fit-content;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  color: #000000;
}

#cooking-timer input {
  width: 60px;
  padding: 5px;
  font-size: 1rem;
  margin: 0 0.25rem;
  border: 1px solid #000000;
  border-radius: 4px;
}

#cooking-timer button {
  margin: 0.5rem 0.25rem;
  padding: 0.5rem 1rem;
  background-color: #ff0000;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

#cooking-timer button:hover {
  background-color: #e64960;
}

#countdown {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}
